@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Caprasimo&family=Quicksand:wght@300..700&family=Young+Serif&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "AbeeZee", sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1,
h2 {
  font-family: "Quicksand", serif;
  line-height: 1;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
h4 {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background: #000;
  color: #fff;
  left: 0;
  padding: 15px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #a7029a;
  text-decoration: underline;
}
.card .card__media {
  background: #a7029a;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 100px;
}
.card img {
  width: 80%;
  margin-top: -10px;
}

.copyright {
  text-align: center;
}

.hero {
  background: black;
  height: 80vh;
  position: relative;
  z-index: 10;
}

h1 {
  color: #fff;
  font-size: 5rem;
}

.hero__media {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.5;
  width: 100%;
}
.hero::after {
  background: linear-gradient(
    36deg,
    rgba(167, 2, 154, 0.7) 0%,
    rgba(167, 2, 154, 0) 100%
  );
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

h2 {
  font-size: 3rem;
}

.interest {
  background: url("../assets/images/bg-interet.jpg") repeat;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.interest .wrapper > p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  color: #000;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  padding: 40px 30px 30px;
}

.quote {
  background: url("../assets/images/bg-citation.jpg") fixed;
  background-size: cover;
  padding: 100px;
  color: #fff;
}
.footer {
  background: #000;
  color: darkgray;
  padding: 20px 0;
}

.btn {
  background: #ea00d9;
  color: #fff;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
.btn:hover {
  text-decoration: none;
  background: #0abdc6;
  color: #fff;
  transform: scale(1.05);
}

.hero__content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
}
.hero p {
  font-size: 1.5rem;
}

.header .logo {
  font-size: 1.2rem;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo img {
  height: 30px;
}
